header {
    border: solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15.75vh;
}

.logoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}